<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Museum Statistics</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
table, th, td {
	border: 1px solid black;
}
th, td {
	padding: 10px;
}
</style>

 <link rel="stylesheet" type="text/css" th:href="@{/template/assets/css/bootstrap.min.css}" />

 <link rel="stylesheet" type="text/css" th:href="@{/template/assets/css/font-awesome.css}" />

 <link rel="stylesheet" th:href="@{/template/assets/css/templatemo-lava.css}" />

 <link rel="stylesheet" th:href="@{/template/assets/css/owl-carousel.css}" />
</head>
<body>

<section>
		<div align="center">
			<header>
				<img th:src="@{/images/museum.png}" width="800" height="150">
				<br>
				<br>
				<p>
					<font size="7" color="#ff8000">General Museum Statistics<br/></font>
				</p>
			</header>
		</div>
</section>
<section class="header-area header-sticky2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                        	<li class="scroll-to-section"><a th:href="@{/}" class="menu-item">Home</a></li>
                            <li class="scroll-to-section"><a th:href="@{/statisticsPage}" class="menu-item">Go back</a></li>
                           
                        </ul>
                        
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </section>

<br><br><br><br><br>

	<div>
		<table align="center">
			<tr><td colspan="2" align="center"><font color="#ff8000">General Statistics</font></td></tr>
			<tr>
				<td width="350" align="center">Average Visit Time: </td>
				<td width="350" align="center">Average Visit Group Time: </td>
				
			</tr>
			<tr>
				<td width="350" align="center" th:text="${avgVisitTime} +' min'"></td>
				<td width="350" align="center" th:text="${avgGroupVisitTime} +' min'"></td>
			</tr>

		</table>
	</div>
	<br><br>
	<div align="center">
		<table>

			<tr>
				<td width="100" align="center"><font color="#ff8000">Hour</font></td>
				<td  width="350" align="center"><font color="#ff8000">Number of visitors</font></td>
			</tr>

			<tr th:each="hour : ${hours}">
				<td align="center" th:text="${hour.hour}"></td>
				<td align="center" th:text="${hour.numberOfVisitors}"></td>
			</tr>
		</table>
	</div>
	<br><br>
	<div align="center">
		<ul>
			<li th:each="hour : ${hours}">
				<table>
				    <tr>
						<td style="color: #ff8000;" align="center" colspan="2" th:text="'Hour: ' + ${hour.hour}"></td>
					</tr>

					<tr>
						<td align="center">Room</td>
						<td align="center">Number of visitors</td>
					</tr>

					<tr th:each="instance : ${hour.roomToNumberOfVisitors}">
						<td width="300" align="center" th:text="${instance.key}"></td>
						<td width="300" align="center" th:text="${instance.value}"></td>
					</tr>
				</table>

			</li>

		</ul>
	</div>
	<br>



</body>
</html>